.pfp-bio-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3.5rem;
    background:var(--card-bg);
    padding: 1rem;
    border-radius: 0.4rem;
}
.pfp {
    border-radius: 50%;
    box-shadow: 0 18px 45px 0 rgba(22, 22, 26, 1);
    
}
.pfp-wrapper  {
    height: 8rem;
    display: flex;
    align-content: center;
    justify-content: center;
}
.bio-wrapper {
    padding-top:2rem ;
}

